[submodule "third_party/d2net"]
	path = third_party/d2net
	url = ssh://git@ssh.github.com:443/mihaidusmanu/d2-net.git
[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/SuperGluePretrainedNetwork
	url = ssh://git@ssh.github.com:443/magicleap/SuperGluePretrainedNetwork.git
[submodule "third_party/deep-image-retrieval"]
	path = third_party/deep-image-retrieval
	url = ssh://git@ssh.github.com:443/naver/deep-image-retrieval.git
[submodule "third_party/r2d2"]
	path = third_party/r2d2
	url = ssh://git@ssh.github.com:443/naver/r2d2.git
